body {
    overflow-x: hidden;
}

#discography .album {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    
}

#discography .album img {
    max-width: 360px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 20px;
    text-decoration: none;
    transition: .5s;
}

#discography .album1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 10px;
    margin-top: 30px;


}

#discography .album1 p {
    color: #e0e0e0;
    font-family: 'cinzel', serif;
}

#discography .album1 a {
    text-decoration: none;
}

.album p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz o main ocupar o espaço restante entre o menu e o rodapé */
    padding: 40px 20px;
}

#discography h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
    color: #FFFF;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
}


#discography .album img:hover {
    transform: scale(1.1);
    box-shadow:
    0 0 20px red,
    0 0 40px red;
    cursor: pointer;
}