#historia {

    width: 80%;
    margin: auto;
    padding-top: 80px;
    color: white;

}


#historia h1 {

    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}


.foto-historia {

    float: left;
    width: 330px;
    height: 450px;
    object-fit: cover;
    margin-right: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 25px red;

}



#historia p {

    font-size: 20px;
    text-align: justify;

}

.foto-direita {

    float: right;
    width: 330px;
    height: 450px;
    object-fit: cover;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 25px red;
}