
@media screen and (max-width: 630px) {
    header nav#nav-esq {
        justify-content: space-between;
    }

    #logo {
        position: absolute;
        left: 50px;
        width: 120px;
        top: 17px;
        height: auto;
        margin-left: 30px;
    }

    header nav#nav-esq ul#icone-menu {
        display: flex;
    }

    header nav#nav-esq ul#icone-menu {
        display: flex;

    }

    header nav#nav-esq ul#icone-menu li#menuX {
        display: none;
    }
    
    /*-------------------- MENU ---------------------- */
    header nav#nav-esq ul#menu-principal {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        background-color: #ffffff7c;
        padding-top: 11rem;
        padding-bottom: 0.5rem;
        align-items: center;
        margin-bottom: 30px;
    

        position: absolute;
        top: 1rem;
        right: 0;
        /* serve para controlar a ordem de empilhamento (profundidade) de elementos que se sobrepõem na tela */
        z-index: 999;

        display: none;
    }

    header nav#nav-esq ul#menu-principal li {
        margin: 0.5rem;
        margin-left: 1rem;
    }

    header nav#nav-esq ul#menu-principal li a {
        font-size: 140%;
        color: #ffffff;
        
    }
}